[user]
	email = public@iramiller.com
	name = Ira Miller
	username = isysd
	signingkey = C7EA0E59D0660BF6848614B6441BDDD420F44729
[commit]
	gpgsign = true
[alias]
	pushall = !git remote | xargs -L1 -I R git push R isysd
