[user]
	email = cindy@coinapult.com
	name = cz
	username = cz
        signingkey = 756C6467EF8683A1B8E5C9551EB8402A1A1B35B6
[commit]
        sign = true
[alias]
	pushall = !git remote | xargs -L1 -I R git push R cz
